module_9/hw/XML_Parser/dvd.dtd

<!ELEMENT DVDS (DVD*) >

<!ELEMENT DVD (title, performers, discs, price, release_year) >

<!ATTLIST DVD id CDATA #REQUIRED>

<!ELEMENT title (#PCDATA)>

<!ELEMENT performers (performer*)>

<!ELEMENT performer (#PCDATA)>

<!ELEMENT discs (#PCDATA)>

<!ELEMENT price (#PCDATA)>

<!ELEMENT release_year (#PCDATA)>
